<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>addProduct</title>
</head>
<body>
<div th:insert="layout/header"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Add new product</div>
        <div class="panel-body">
            <form class='needs-validation' th:object="${product}" method="post" action="#" novalidate>
                <div class="col-sm-10">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="product name" required>
                    <div class="invalid-feedback">Field should not be empty</div>
                </div>
                <div class="col-sm-10">
                    <br /><label for="PKWiUSymbol">PKWiU Symbol</label>
                    <input type="text" id="PKWiUSymbol" name="PKWiUSymbol" th:field="*{PKWiUSymbol}" class="form-control" placeholder="PKWiUSymbol" required>
                    <div class="invalid-feedback">Field should not be empty</div>
                </div>
                <div class="col-sm-10">
                    <br /><label for="price">Price</label>
                    <input type="text" id="price" name="price" th:field="*{price}" class="form-control" placeholder="19.99" required>
                    <div class="invalid-feedback">Field should not be empty</div>
                </div>
                <div class="col-sm-10">
                    <br /><label for="inStock">Quantity</label>
                    <input type="number" id="inStock" name="inStock" th:field="*{inStock}" class="form-control" placeholder="6" required>
                    <div class="invalid-feedback">Input proper number</div>
                </div>
                <div class="col-sm-10">
                    <br /><label for="imageSource">Image URL</label>
                    <input type="url" id="imageSource" name="imageSource" th:field="*{imageSource}" class="form-control" placeholder="Image URL">
                    <div class="invalid-feedback">Input proper URL link</div>
                </div>
                <div class="col-sm-10">
                    <br /><button type="submit" class="btn btn-primary">Add product</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<div th:insert="layout/footer"></div>
</body>
</html>